#registrar {
	font-size: 12px;
}

.cadastro {
	height: 250px;
	text-align: below;
}

table {
	text-align: center;
	border: "2px";
}

td {
	padding: 10px;
	border: 2px solid;
}

#lista {
	text-align: center;
	color: #696969;
}

#formulario {
	text-align: center;
	margin: 2px;
}