body {
	text-align: center;
	font-family: Arial;
	background-color: #1b2175;
}

h1 {
	font-family: cursive;
}

#registrar {
	font-size: 12px;
}

.cadastro {
	height: 250px;
	background-color: #636363;
	text-align: below;
}

